    @charset "UTF-8";
    section > article {
        padding-bottom: 20px;
    }
    article > h1 {
        background-image: linear-gradient(to right, var(--cor2), transparent);
        padding: 5px;
        border-radius: 5px;
    }
    @media screen and (min-width: 768px) {
        main > nav.navbar {
            display: none;
        }
        article > a {
            display: none;
        }
    }
    @media screen and (max-width: 768px) {
         header {
            margin-bottom: 10px;
        }
        article > a > div.inst {
            background-color: var(--cor2);
            color: white;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            margin: 5px;
        }
        article > a > div.inst:hover {
            background-color: var(--cor5);
            color: var(--cor2);
        }
    }