                     @charset "UTF-8";
					 
                     :root {
                        --cor0: #ebe5c5;
                        --cor1: #83e1ad;
                        --cor2: #3ddc84;
                        --cor3: #2fa866;
                        --cor4: #1a5c37;
                        --cor5: #063d1e;
                        --font-padrao: Arial, Verdana, Helvetica, sans-serif;
                     }
					 article h1{
                     color: #606060;
                     background-color: #dddddd;
                     padding: 10px;
                     margin: 10px;
                     }
                     article{
					 padding: 10px;
                     margin-bottom: 10px;
                     }
                     img{
					 border-radius: 10px;
                     width: 100%;
			         display: block;
                     margin: auto;
                     }            
                     .inst{
                     background: var(--cor3);
                     color: white;
                     width: 90%;
                     height: 30px;
                     line-height: 30px; 
                     text-align: center;
			         transition: background-color 0.4s;
                     }
			         .inst:hover{
			         background: var(--cor5);
			         } 
					 
					 /*MENU CATEGORIAS*/
					 #logo {
                     font-size: 20px;
                     }
                     #nav-links a {
                     color: #fff;
                     }
					 #menu li:hover {
                     background-color: #4c9e9e;
                     border-radius: 5px;
                     transition: 0.3s ease;
                     }
                     #menu li {
                     padding: 5px 14px;
                     }  
                     #hamburger {
                     font-size: 24px;
                     }
                     #menu {
					 width: 90%;
                     display:none;
                     position: absolute;
                     background-color:teal;
                     right: 0;
                     left: 5%;
                     text-align: center;
                     padding: 16px 0;
					 gap: 1em;
                     font-size: 18px;
                     }
                     #menu li:hover {
                     display: inline-block;
                     background-color:#4c9e9e;
                     transition: 0.3s ease;
                     }
                     #menu li + li {
                     margin-top: 12px;
                     }
                     
                     #hamburger {
                     display: block;
                     }
                     
                     
