                     @charset "UTF-8";
                     
                     :root {
                        --cor0: #ebe5c5;
                        --cor1: #83e1ad;
                        --cor2: #3ddc84;
                        --cor3: #2fa866;
                        --cor4: #1a5c37;
                        --cor5: #063d1e;
                      }

					       section > h1 {
                        color: var(--cor3);
                      }
                      section > p {
                        text-align: justify;
                        text-indent: 30px;
                        line-height: 2em;
                      }
                      section > ul {
                        padding: 20px;
                        line-height: 2em;
                      }
			             section > img {
                        width: 250px;
                        display: block;
                        margin: auto;
					         border-radius: 10px;
                      }
                     
					       /*SLIDE*/
					       .slider {
                        margin: 0 auto;
                        width: 100%;
                        height: 250px;
                        overflow: hidden;
					         border-radius: 10px;
                      }
                      .slides{
                        width: 400%;
                        height: 270px;
                        display: flex;
                      }
                      .slides input{
                        display: none;
                      }
                      .slide{
                        width: 25%;
                        position: relative;
                      }
                      .slide img{
                        width: 100%;
					         height: 100%;
                      }
                      .manual-navigation{
                        position: absolute;
                        width: 94%;
                        margin-top: -40px;
                        display: flex;
                        justify-content: center;
                      }
                      .manual-btn{
                        border: 2px solid blue;
                        padding: 5px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 1s;
                      }
                      .manual-btn:not(:last-child){
                        margin-right: 40px;
                      }
                      .manual-btn:hover{
                        background-color: blue;
                      } 
                      #radio1:checked ~ .first {
                        margin-left: 0;
                      }
                      #radio2:checked ~ .first {
                        margin-left: -25%;
                      }
                      #radio3:checked ~ .first {
                        margin-left: -50%;
                      }
					       #radio4:checked ~ .first {
                        margin-left: -75%;
                      }
                      .navigation-auto div{
                        border: 2px solid blue;
                        padding: 5px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 1s;
                      }
                      .navigation-auto {
                        position: absolute;
                        width: 94%;
                        margin-top: 230px;
                        display: flex;
                        justify-content: center;
                      }
                      .navigation-auto div:not(:last-child) {
                        margin-right: 40px;
                      }
                     #radio1:checked ~ .navigation-auto .auto-btn1 {
                        background-color: blue;
                      }
                      #radio2:checked ~ .navigation-auto .auto-btn2 {
                        background-color: blue;
                      }
                      #radio3:checked ~ .navigation-auto .auto-btn3 {
                        background-color: blue;
                      }
                      #radio4:checked ~ .navigation-auto .auto-btn4 {
                        background-color: blue;
                      }